{{#template 'component'}}

{{#pageTitle}}Table{{/pageTitle}}

<p>
In the example below for the `nexus-table` the Column configuration options for the Column AUTOMOBILE MODEL has a custom
css class(cls-col-width) configured for `headerClass` and `cellClass`.
where `cls-col-width` is the custom css class having fixed width column having text alignment to center along with custom font color.
</p>
<p>
Please refer `Column configuration options` just below the Properties section to see all other configuration options for
the column.
</p>
<div class="playbook-component-tabs-container">
  <input id="tab-1" type="radio" name="tabs" checked="checked" />
  <input id="tab-2" type="radio" name="tabs" />
  <input id="tab-3" type="radio" name="tabs" />
  <div class="tabs">
    <label for="tab-1">HTML</label>
    <label for="tab-2">Angular</label>
    <label for="tab-3">React</label>
  </div>
  <div class="content">
    <div class="tab">
      {{ section 'components/layout/table/table.stencil.hbs' }}
    </div>
    <div class="tab">
      {{ section 'components/layout/table/table.angular.hbs' }}
    </div>
    <div class="tab">
      {{ section 'components/layout/table/table.react.hbs' }}
    </div>
  </div>
</div>

<h2>Properties</h2>

<section class="playbook-component-properties">
  {{{ md 'packages/nexus/src/components/nexus-table/readme.md'}}}
</section>

<h2>Column configuration options</h2>
<div class="content">
  <table class="nexus-table">
    <thead>
      <tr>
        <th id="col1">
          Property
        </th>
        <th id="col2">
          Type
        </th>
        <th id="col3">
          Required
        </th>
        <th id="col4">
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          field
        </td>
        <td>
          string
        </td>
        <td>
          yes
        </td>
        <td>
          Field/Property key to map row data.
        </td>
      </tr>
      <tr>
        <td>
          label
        </td>
        <td>
          string
        </td>
        <td>
          yes
        </td>
        <td>
          Table column display label
        </td>
      </tr>
      <tr>
        <td>
          isSortable
        </td>
        <td>
          boolean
        </td>
        <td>
          no
        </td>
        <td>
          Enable sort functionality on a column
        </td>
      </tr>
      <tr>
        <td>
          cellRenderer
        </td>
        <td>
          function
        </td>
        <td>
          no
        </td>
        <td>
          Pass custom cell renderer function to modify display value for row data.
        </td>
      </tr>
      <tr>
        <td>
          sortAscending
        </td>
        <td>
          function
        </td>
        <td>
          no
        </td>
        <td>
          Pass custom function to sort column data in ascending order. Dafault sort ascending function will be used if not provided.
        </td>
      </tr>
      <tr>
        <td>
          sortDescending
        </td>
        <td>
          function
        </td>
        <td>
          no
        </td>
        <td>
          Pass custom function to sort column data in descending order. Dafault sort descending function will be used if not provided.
        </td>
      </tr>
      <tr>
        <td>
          headerClass
        </td>
        <td>
          string
        </td>
        <td>
          no
        </td>
        <td>
          Pass custom styling class to overwrite header style.
        </td>
      </tr>
      <tr>
        <td>
          cellClass
        </td>
        <td>
          string
        </td>
        <td>
          no
        </td>
        <td>
          Pass custom styling class to overwrite cell style.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Examples</h2>

<div class="playbook-component-tabs-container">
  <input id="tab-4" type="radio" name="tabs2" checked="checked" />
  <input id="tab-5" type="radio" name="tabs2" />
  <input id="tab-6" type="radio" name="tabs2" />
  <div class="tabs">
    <label for="tab-4">HTML</label>
    <label for="tab-5">Angular</label>
    <label for="tab-6">React</label>
  </div>
  <div class="content">
    <div class="tab">
      {{ section 'components/layout/table/table-examples.stencil.hbs' }}
    </div>
    <div class="tab">
      {{ section 'components/layout/table/table-examples.angular.hbs' }}
    </div>
    <div class="tab">
      {{ section 'components/layout/table/table-examples.react.hbs' }}
    </div>
  </div>
</div>
{{/template}}